<!-- your-component.component.html -->

<form novalidate autocomplete="off" class="custom-form">
  <div class="container max-height-main">
    <div class="bottom-bar d-flex">
      <button type="button" class="btn mx-2 border px-5" (click)="Goback()">Retour</button>
  </div>
    <h1 class="fs-2 fw-bold mb-5">Identification de votre véhicule</h1>

    <div class="row">
      <div class="col-lg-4 card p-2">
        <div class="d-flex align-items-center my-3">
          <div>
            <div class="step bg-primary d-flex justify-content-center align-items-center text-white"> 1 </div>
          </div>
          <p class="fw-bold mx-3">Choisissez le type d'immatriculation</p>
        </div>
        <div class="button-grids ml-3">
          <div class="identificateur active"> Serie normale (TU) </div>
          <div class="identificateur"> Régime suspensif (RS) </div>
          <div class="identificateur"> Personnel administratif et technique (PAT) </div>
          <div class="identificateur"> Chef de Mission diplomatique (CMD) </div>
        </div>
      </div>
      <div class="col-lg-4 card p-2">
        <div class="d-flex align-items-center my-3">
          <div>
            <div class="step bg-primary d-flex justify-content-center align-items-center text-white"> 2 </div>
          </div>
          <p class="fw-bold mx-2">Ajoutez le numéro d'immatriculation</p>
        </div>
        <div class="ml-3">
          <div class="d-flex mb-3">
            <input type="tel" formControlName="registrationNumber1" class="w-5 ng-untouched ng-pristine ng-invalid" placeholder="Série" maxlength="3">
            <div class="TUN fw-bold d-flex justify-content-center align-items-center px-4 text-bg-dark"> TU تونس </div>
            <input type="tel" formControlName="registrationNumber2" class="w-5 ng-untouched ng-pristine ng-invalid" placeholder="Numéro" maxlength="4">
          </div>
        </div>
      </div>

      <div class="col-lg-4 card p-2">
        <div class="d-flex align-items-center my-3">
          <div>
            <div class="step bg-primary d-flex justify-content-center align-items-center text-white"> 3 </div>
          </div>
          <p class="fw-bold mx-2">Ajoutez les 6 derniers chiffres de numéro de châssis</p>
        </div>
        <div class="ml-3 num-chassis">
          <div class="d-flex mb-3">
            <input type="text" placeholder="XXXXXX" maxlength="6" formControlName="lastSixDigitsOfChassisNumber" class="ng-untouched ng-pristine ng-invalid">
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-bar d-flex">
      <button type="button" class="btn mx-2 border px-5" (click)="navigateToInscription()">S'identifier</button>
      <button class="btn btn-primary px-5" style="z-index: 1;" (click)="navigateToserviceAgence()">Suivant</button>
    </div>
  </div>
</form>

