<div class="container">

  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Vidange <span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>


    <img
      class="card-img-top"
      src="../../assets/vidange.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>

        <span
          class="btn btn-primary"

        >
          Choisir </span
        >
      </p>
    </div>
  </div>


  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Entretien et Réparations<span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>

    <img
      class="card-img-top"
      src="../../assets/Entretien et Réparations.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>

        <span
          class="btn btn-primary"

        >
          Choisir </span
        >
      </p>
    </div>
  </div>


  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Diagnostic des problèmes  <span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>

    <img
      class="card-img-top"
      src="../../assets/Diagnostic des problèmes.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>

        <span
          class="btn btn-primary"

        >
          Choisir </span
        >
      </p>
    </div>
  </div>


  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Mises à niveau et accessoires <span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>

    <img
      class="card-img-top"
      src="../../assets/Mises à niveau et accessoires.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>

        <span
          class="btn btn-primary"

        >
        Choisir </span
        >
      </p>
    </div>
  </div>
</div>
